extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Nick B.

        p.lead.text-light
          | Full Stack JavaScript, Front End Developer.

        .portfolio-bio
          p
            | Nick B. recently got a Front-End Development Techdegree from Teamtreehouse. 
            | He is now on the process of acquring full-stack JavaScript Techdegree.
            | He's currently looking for a job that will put his coding skills to work.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li Express
          li Node.js
          li API
          li HTML
          li CSS
          li JavaScript
          li jQuery
          li Regex
          li SASS
          li Python
          li npm
        h6 Contact Info

        ul.contact
          li +669-6242-9939
          li cbnickp@gmail.com

        a.button.expanded(href='https://www.linkedin.com') LinkedIn
        a.button.expanded(href='https://github.com/Nick810?tab=repositories') GitHub
        a.button.expanded(href='https://twitter.com/Nick11572450') Twitter
  nav.grid-container.portfolio-breadcrumb
    
  
